[submodule "lib/assimp"]
	path = lib/assimp
	url = https://github.com/assimp/assimp
[submodule "lib/ispctc"]
	path = lib/ispctc
	url = https://github.com/GameTechDev/ISPCTextureCompressor/
[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madler/zlib/
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
